/*search box css start here*/
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: -114px;
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}

.banner-icon{
    height: 100%;
    width: 15%;
}

/* Restaurant Menu */
.category {
    list-style: none;
    text-align: center;
    margin: 20px 0 40px 0;
  }
  
  .category li {
    display: inline-block;
    margin: 0 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .category li.active {
    color: var(--clr-primary);
  }
  
  .restaurant-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .menu-item {
    width: 260px;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
  }
  
  .menu-item img {
    width: 100%;
  }
  
  .order {
    justify-content: space-between;
  }
  
  .btn-menu {
    padding: 6px 10px;
    font-size: 16px;
    text-align: center;
    background: #fff;
    border: 1px solid var(--clr-primary);
    color: var(--clr-primary);
  }
  
  .title {
    font-size: 18px;
    font-weight: 300;
    margin: 8px 0;
  }
  
  .location {
    font-size: 18px;
    font-weight: 500;
  }
  /* End Restaurant Menu */