/* Hero Section */
#hero-section {
  background: #ff520082;
  margin-top: 60px;
}

.text,
.visual {
  width: 50%;
}

.text {
  margin: 0 20px;
}

.visual img {
  width: 80%;
  height: auto;
  display: block;
  border-radius: 50%;
}

#hero-section .text {
  margin-left: 30px;
}

#hero-section .visual img {
  margin-left: auto;
}
/* End Hero Section */

.banner-icon{
    height: 100%;
    width: 15%;
}
.banner-text{
  color: #fff;
}
/* Restaurant Menu */
.category {
    list-style: none;
    text-align: center;
    margin: 20px 0 40px 0;
  }
  
  .category li {
    display: inline-block;
    margin: 0 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .category li.active {
    color: var(--clr-primary);
  }
  
  .restaurant-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .menu-item {
    width: 260px;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
  }
  
  .menu-item img {
    width: 100%;
  }
  
  .order {
    justify-content: space-between;
  }
  
  .btn-menu {
    padding: 6px 10px;
    font-size: 16px;
    text-align: center;
    background: #fff;
    border: 1px solid var(--clr-primary);
    color: var(--clr-primary);
  }
  
  .title {
    font-size: 18px;
    font-weight: 300;
    margin: 8px 0;
  }
  
  .location {
    font-size: 18px;
    font-weight: 500;
  }
  /* End Restaurant Menu */






.search {
    background-color: #fff;
    padding: 4px;
    border-radius: 5px
}

.search-1 {
    position: relative;
    width: 100%
}

.search-1 input {
    height: 45px;
    border: none;
    width: 100%;
    padding-left: 34px;
    padding-right: 10px;
    border-right: 2px solid #eee
}

.search-1 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none
}

.search-1 i {
    position: absolute;
    top: 12px;
    left: 5px;
    font-size: 24px;
    color: #eee
}

::placeholder {
    color: #eee;
    opacity: 1
}

.search-2 {
    position: relative;
    width: 100%
}

.search-2 input {
    height: 45px;
    border: none;
    width: 100%;
    padding-left: 18px;
    padding-right: 100px
}

.search-2 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none
}

.search-2 i {
    position: absolute;
    top: 12px;
    left: -10px;
    font-size: 24px;
    color: #eee
}

.search-2 button {
    position: absolute;
    right: 1px;
    top: 0px;
    border: none;
    height: 45px;
    background-color: red;
    color: #fff;
    width: 90px;
    border-radius: 4px
}

@media (max-width:800px) {
    .search-1 input {
        border-right: none;
        border-bottom: 1px solid #eee
    }

    .search-2 i {
        left: 4px
    }

    .search-2 input {
        padding-left: 34px
    }

    .search-2 button {
        height: 37px;
        top: 5px
    }
}