<nav class="navbar navbar-expand-lg fixed-top" [class.scrolled]="scrolled">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../assets/bitebuddy.png" alt="Restaurant Logo" class="logo">
      <span>Bite Buddy</span>
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="!isCollapsed">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"  >
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLink="/menu" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/registration" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/cart" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">

            <box-icon name='cart' color='#e67e22' ></box-icon> 
                       <div class="badge" *ngIf="value!=0" [attr.value]="value">&#xf07a;</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

