
<app-header></app-header>
<!-- Hero Section -->
<div class="section flex" id="hero-section">
  <div class="text">
    <h1 class="primary banner-text">
      Order Food. Discover best <span>Restaurants</span>.
    </h1>
<div class="search">
  <box-icon name='search' animation='tada' color='#595c5f' class="search-icon" ></box-icon>
  <input type="text" class="form-control" placeholder="Search for restaurant, item or more
 ">
  <button class="btn btn-primary" name="search-btn">Search</button>
</div>
  </div>
  <div class="visual">
    <img src="../assets/images/banner.jpg" alt="Hompe page banner" />
  </div>
</div>
<!-- End Hero Section -->

<app-menu-carousel></app-menu-carousel>



<!-- How It Works -->
<div class="section" id="how-it-works">
  <h2 class="secondary">How It Works</h2>

  <div class="container flex">
    <div class="box">
      <h3>Easy Order</h3>
      <box-icon
        name="history"
        class="banner-icon"
        animation="tada"
        flip="horizontal"
        color="#fe5722"
      ></box-icon>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, non?
      </p>
    </div>

    <div class="box active">
      <h3>Best Quality</h3>
      <box-icon
        name="trophy"
        class="banner-icon"
        rotate="270"
        animation="tada"
        color="#ffffff"
      ></box-icon>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, non?
      </p>
    </div>

    <div class="box">
      <h3>Fast Delivery</h3>
      <box-icon
        name="badge-check"
        class="banner-icon"
        animation="tada"
        rotate="270"
        color="#fe5722"
      ></box-icon>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, non?
      </p>
    </div>
  </div>
</div>
<!-- End How It Works -->

<!-- Restaurant Menu -->
<!-- <div class="section" id="menu">
  <div class="container">
    <ul class="category">
      <li class="active">All</li>
      <li>Biryani</li>
      <li>Chicken</li>
      <li>Pizza</li>
      <li>Burger</li>
      <li>Pasta</li>
    </ul>

    <div class="container">
      <div class="restaurant-menu">
        <div class="menu-item">
          <img
            src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-1.jpg"
            alt=""
          />

          <div class="title">Food Restaurant | Chineese & Thai</div>

          <div class="location">Lahore, Pakistan</div>

          <div class="order flex">
            <div class="price">$25.00</div>
            <a href="#" class="btn btn-menu">Order Now</a>
          </div>
        </div>

        <div class="menu-item">
          <img
            src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-2.jpg"
            alt=""
          />

          <div class="title">Food Restaurant | Chineese & Thai</div>

          <div class="location">Lahore, Pakistan</div>

          <div class="order flex">
            <div class="price">$25.00</div>
            <a href="#" class="btn btn-menu">Order Now</a>
          </div>
        </div>

        <div class="menu-item">
          <img
            src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-3.jpg"
            alt=""
          />

          <div class="title">Food Restaurant | Chineese & Thai</div>

          <div class="location">Lahore, Pakistan</div>

          <div class="order flex">
            <div class="price">$25.00</div>
            <a href="#" class="btn btn-menu">Order Now</a>
          </div>
        </div>

        <div class="menu-item">
          <img
            src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-4.jpg"
            alt=""
          />

          <div class="title">Food Restaurant | Chineese & Thai</div>

          <div class="location">Lahore, Pakistan</div>

          <div class="order flex">
            <div class="price">$25.00</div>
            <a href="#" class="btn btn-menu">Order Now</a>
          </div>
        </div>

        <div class="menu-item">
          <img
            src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-5.jpg"
            alt=""
          />

          <div class="title">Food Restaurant | Chineese & Thai</div>

          <div class="location">Lahore, Pakistan</div>

          <div class="order flex">
            <div class="price">$25.00</div>
            <a href="#" class="btn btn-menu">Order Now</a>
          </div>
        </div>

        <div class="menu-item">
          <img
            src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-6.jpg"
            alt=""
          />

          <div class="title">Food Restaurant | Chineese & Thai</div>

          <div class="location">Lahore, Pakistan</div>

          <div class="order flex">
            <div class="price">$25.00</div>
            <a href="#" class="btn btn-menu">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- End Restaurant Menu -->


<app-footer></app-footer>