/* Hero Section */
#hero-section {
  background: #ff520082;
  margin-top: 60px;
}

.text,
.visual {
  width: 50%;
}

.text {
  margin: 0 20px;
}

.visual img {
  width: 80%;
  height: auto;
  display: block;
  border-radius: 50%;
}

#hero-section .text {
  margin-left: 30px;
}

#hero-section .visual img {
  margin-left: auto;
}

.banner-icon {
  height: 100%;
  width: 15%;
}
.banner-text {
  color: #fff;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  width: 90%;
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #f2eef1;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid #ff5200;
}

.search button {
  position: absolute;
  top: -15px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: #ff5200;
  border: none;
  padding-top: 10px;
}

.search-icon {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 10px;
}

/* End Hero Section */



/* Restaurant Menu */
.category {
  list-style: none;
  text-align: center;
  margin: 20px 0 40px 0;
}

.category li {
  display: inline-block;
  margin: 0 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.category li.active {
  color: var(--clr-primary);
}

.restaurant-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.menu-item {
  width: 260px;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
}

.menu-item img {
  width: 100%;
}

.order {
  justify-content: space-between;
}

.btn-menu {
  padding: 6px 10px;
  font-size: 16px;
  text-align: center;
  background: #fff;
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
}

.title {
  font-size: 18px;
  font-weight: 300;
  margin: 8px 0;
}

.location {
  font-size: 18px;
  font-weight: 500;
}
/* End Restaurant Menu */

