<div class="signup-section">
  <br><br><br>
<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
      <div class="card auth">
        <div class="card-body auth-card">
          <div class="auth-avatar">
            <img src="../../../assets/images/banner.jpg" alt="user" class="user-image">
          </div>
          <form (submit)="signUp(userData)">
            <div class="form-group pt-3 mt-3">
              <input type="text" name="name" class="form-control login-form" placeholder="Name" [(ngModel)]="userData.name">
              </div>
              <div class="form-group pt-2 mt-2">
                <input type="text" name="phone" class="form-control login-form" placeholder="Phone" [(ngModel)]="userData.phone">
              </div>
              <div class="form-group pt-2 mt-2">
                <input type="text" name="email" class="form-control login-form" placeholder="Email" [(ngModel)]="userData.email">
              </div>
              <div class="form-group pt-2 mt-2">
                <input type="password" name="password" class="form-control login-form" placeholder="Enter Password" [(ngModel)]="userData.password">
              </div>
              <div class="form-group pt-2 mt-2">
                <input type="password" name="c_password" class="form-control login-form" placeholder="Confirm Password" [(ngModel)]="userData.c_password">
              </div>
              <div class="text-center">
                <input type="submit" class="btn btn-my" value="Sign Up">
              </div>
              <div class="text-center login">
                Already have an account ? <a routerLink="login">Login</a> here.
              </div>
              
          </form>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br>

</div>